.embla {
    --slide-spacing: 1rem;
    --slide-size: 100%;
    /* --slide-height: 19rem; */
    /* padding: 0.5rem; */
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y;
    /* margin-left: calc(var(--slide-spacing) * -1); */
  }
  .embla__slide {
    flex: 0 0 var(--slide-size);
    min-width: 0;
    /* padding-left: var(--slide-spacing); */
    position: relative;
  }
  /* .embla__slide__img {
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
  } */
  .embla__slide__number {
    width: 4.6rem;
    height: 4.6rem;
    z-index: 1;
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    border-radius: 50%;
    background-color: rgba(var(--background-site-rgb-value), 0.85);
    line-height: 4.6rem;
    font-weight: 900;
    text-align: center;
    pointer-events: none;
  }
  .embla__slide__number > span {
    color: var(--brand-primary);
    background-image: linear-gradient(
      45deg,
      var(--brand-primary),
      var(--brand-secondary)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .embla__button {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .embla__buttons {
    display: flex;
    position: absolute;
    justify-content: space-between;

    top: 50%;
    width: 100%;
    align-self: center;
    align-items: center;
    transform: translateY(-50%) ;
    max-width: 24rem;
    /* left: 1.6rem; */
  }
  @media (min-width: 768px) {
    .embla__buttons {
        max-width: 64rem;
    }
  }
  .embla__button {
    /* margin-right: -0.4rem;
    margin-left: -.7rem; */
    z-index: 10;
    color: var(--border1);
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
  }
  .embla__button:disabled {
    opacity: 0.3;
  }
  .embla__button__svg {
    width: 65%;
    height: 65%;
  }
  .embla__dot {
    -webkit-appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
  }
  .embla__dots {
    z-index: 1;
    bottom: -.5rem;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .embla__dot {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
  .embla__dot:after {
    background: var(--border1);
    border-radius: 0.2rem;
    width: 100%;
    height: 0.3rem;
    content: '';
  }
  .embla__dot--selected:after {
    background: linear-gradient(
      45deg,
      var(--accent2),
      var(--accent2)
    );
  }
  